<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <!-- Horizontal Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/dashboard">
            <div class="logo">
                <h1>HFT</h1>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/notification"><i class="fas fa-bell"></i> Notifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <img src="{{ url_for('static', filename='img/profile.png') }}" alt="User Profile" class="user-profile-pic" width="40px">
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <!-- Vertical Navbar content here... -->
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/dashboard">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/activity">
                                My Activity
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/diet">
                                My Diet
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mood_sleep">
                                Sleepy and Mood
                            </a>
                         </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" href="/profile">
                                Settings
                            </a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
    
            <div class="col-md-10 mb-4">
                <main>
                    {% block dashboard %}{% endblock %}
                    {% block activity %}{% endblock %}
                    {% block diet %}{% endblock %}
                    {% block mood_sleep %}{% endblock %}
                    {% block profile %}{% endblock %}
                </main>
            </div>
        </div>
    </div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>